/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
* {
  box-sizing: border-box;
}

body {
  background: #aedaa6;
  font-family: "Raleway";
}
body .card {
  width: 650px;
  position: absolute;
  background: white;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
}
body .card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body .card nav {
  width: 100%;
  color: #727272;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 2px solid #efefef;
  font-size: 12px;
}
body .card nav svg.heart {
  height: 24px;
  width: 24px;
  float: right;
  margin-top: -3px;
  transition: all 0.3s ease;
  cursor: pointer;
}
body .card nav svg.heart:hover {
  fill: red;
}
body .card nav svg.arrow {
  float: left;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
body .card .photo {
  padding: 30px;
  width: 45%;
  text-align: center;
  float: left;
}
body .card .photo img {
  max-height: 240px;
}
body .card .description {
  padding: 30px;
  float: left;
  width: 55%;
  border-left: 2px solid #efefef;
}
body .card .description h1 {
  color: #515151;
  font-weight: 300;
  padding-top: 15px;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}
body .card .description h2 {
  color: #515151;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}
body .card .description h4 {
  margin: 0;
  color: #727272;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}
body .card .description p {
  font-size: 12px;
  line-height: 20px;
  color: #727272;
  padding: 20px 0;
  margin: 0;
}
body .card .description button {
  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #d9d9d9;
  padding: 8px 0px;
  margin-bottom: 30px;
  color: #515151;
  text-transform: uppercase;
  width: 125px;
  font-family: inherit;
  margin-right: 5px;
  transition: all 0.3s ease;
  font-weight: 500;
}
body .card .description button:hover {
  border: 1px solid #aedaa6;
  color: #aedaa6;
  cursor: pointer;
} */

/* New Courts CSS */

html {
  background-color: #f2f2f2;
}
.author {
  color: #9b9b9b;
  font-size: 15px;
}
.body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #f2f2f2;
  color: #4c4c4c;
  font-family: Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 1.2;
  padding: 30px 5px;
  text-align: center;
}
.bottomLink {
  margin: 0 6% 10px 6%;
}
.buttonLink {
  background-color: #28a745;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
  min-width: 53px;
  padding: 13px 20px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.buttonLink img {
  vertical-align: bottom;
  margin-right: 4px;
}
.cards {
  display: inline-block;
  margin: 0 25px 0 10px;
  max-width: 100%;
  min-width: 220px;
  width: 220px;
}
.Container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  margin: auto;
  max-width: 600px;
  overflow: hidden;
  text-align: left;
}
.Container p:first-child {
  margin-top: 0;
}
.Container p:last-child {
  margin-bottom: 0;
}
.deckInfo {
  display: inline-block;
  margin: 5px 0 0 12px;
  text-align: left;
  line-height: 1.27;
}
.deckTitle {
  font-size: 15px;
  font-weight: bold;
}
.description {
  color: #9b9b9b;
  font-size: 15px;
  line-height: 1.47;
  padding-bottom: 10px;
  /* max-width: 10%; */
  /* margin: 9px 0 7px; */
  /* margin-right: 10px; */
}
.deviceContainer {
  display: inline-block;
  margin-left: 40px;
  max-width: 220px;
}
.devices {
  display: inline-block;
  margin: 9px 0px 40px 0px;
  max-width: 100%;
  vertical-align: top;
}
.footer {
  color: #a7a7a7;
  display: block;
  font-size: 13px;
  margin: 30px auto;
  max-width: 560px;
  text-align: left;
}
.footer a {
  color: #a7a7a7;
}
.footerText {
  width: 100%;
}
.footerText p {
  margin-top: 10px;
}
.header {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
}
.inlineBlock {
  display: inline-block;
}
.iosIcon {
  width: 16px;
  height: 20px;
}
.invertedButtonLink {
  background-color: #fff;
  border: 2px solid #28a745;
  color: #28a745;
  padding: 7px 18px 9px;
  text-transform: uppercase;
}
.logo {
  margin-bottom: 20px;
  height: 25px;
}
.sampleDeck {
  color: #4c4c4c;
  display: inline-block;
  margin-bottom: 7px;
  text-align: left;
  text-decoration: none;
  width: 265px;
}
.sampleDeck:not(:first-child) {
  margin-left: 0;
}
.sampleDeck img {
  width: 100px;
}
.sampleDeckGroup img {
  width: 105px;
}
.sampleDeckGroup .deckInfo {
  margin: 7px 0 0 8px;
}
.secondContainer {
  margin-top: 30px;
  padding: 30px;
  text-align: center;
}
.socialIcons {
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}
.socialIcons a {
  display: inline-block;
  text-decoration: none;
}
.socialIcons a:first-child {
  margin-right: 5px;
}
.socialIcons img {
  width: 24px;
}
.tagline {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}
.text {
  display: inline-block;
  margin: 0 0 0 0;
  max-width: 250px;
  text-align: left;
  vertical-align: top;
}
.tinycardsLogo {
  display: inline-block;
  max-width: 100%;
  transform: translateX(-7px);
  width: 200px;
  margin: 11px 20px 0 0;
}
.topBanner {
  background-image: url("https://tigerturf.com/in/wp-content/uploads/2019/11/How-to-build-a-tennis-court.jpg");
  background-size: cover;
  box-sizing: border-box;
  height: 250px;
  width: 600px;
  min-height: 200px;
  overflow: hidden;
  text-align: center;
}
.topText {
  display: inline-block;
  margin: 15px 40px;
  max-width: 250px;
  min-width: 200px;
  text-align: left;
  vertical-align: top;
}
.underBanner {
  display: block;
  padding: 40px 40px 10px 40px;
  text-align: center;
}
.webIcon {
  width: 16px;
  height: 16px;
}
.webLink {
  margin-right: 3px;
}

a img {
  display: inline-block;
  max-width: 100%;
  transform: translateX(-7px);
  width: 200px;
  margin: 11px 20px 0 0;
}

.hover {
  color: gold;
}

.gold {
  color: gold;
}

.not-hover {
  color: black;
}

.star-rating {
  cursor: pointer;
  padding-left: 50px;
}

.buttonContainer {
  margin-left: 50px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 20px;
}
