body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image:  url(../assets/bg.jpg);

  /* Set a specific height */
  height: 60%;


  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.tran
{

  background-size: cover;
  width: 100%;

  transition: opacity 0.7s ease-in ;
}

.nav-item a
{
  font-size: 1.2rem !important;
}

.nav-item a:hover 
{
  color: rgb(104, 185, 23) !important;
}
  
.navbar-light .navbar-brand 
{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.navbar-toggler
{
  color: antiquewhite;
}

.navbar-nav{
  align-items: center;
}
.logo{
  width: 200px;
}

.navbar-container
{ 
  background:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("../assets/bg1.jpg");
  background-size: cover;
}


.pattern:before
{
    background: linear-gradient(0deg, rgba(10, 100, 10, 0.1), rgba(10, 100, 10, 0.1)), url('../images/pattern.jpg');
    background-attachment: fixed;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 400px;
    width: 100%;
    height: 80%;
    z-index: -500;
    opacity: 0.1;
    background-position: center top;
    background-size: cover;
}


/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}
.parent{

  width:300px;
  height:200px;
  background-color: #f1f1e8;
  position: absolute;

  left: 0;
      right: 0;
      bottom: 0;
      top: 400px;
      margin: auto;



}
.contain {
  position: relative;
  width: 50%;

  font-size: 40px;
  color:#f1f1e8;

}


/* Style the button and place it in the middle of the container/image */
.contain .button {
  position: cover;
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: #f1f1e8;
  font-size: 16px;
  z-index: 1000;


  cursor: pointer;
  border-radius: 5px;
  width:80%;
  height: 400px;
  padding-left: 40px;
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;

}
.f {
  background-image: url(../images/g2.JPG);
  background-size: cover;
  width: 250px;
  height: 150px;
  font-size: 4rem;
  z-index: 2000;

  border: none;
  font-size: 50px;

  color:#f1f1e8;
  transition: all 0.5s;
  cursor: pointer;

}
.f span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.f span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.f:hover span {
  padding-right: 25px;
}

.f:hover:hover span:after {
  opacity: 1;
  right: 0;
}
.f:hover {
  transform: scale(1.2); 
}

h1 
{
  color: rgb(104, 185, 23) !important;
  text-shadow: 0.2rem 0.2rem 0.2rem #092532;
  font-size: 4rem !important;
}

h2 
{
  color: rgb(255, 255, 255) !important;
  text-shadow: 0.2rem 0.2rem 0.2rem #092532;
  font-size: 3rem !important;
}

.grid-contain{
  display: grid;


  grid-row-gap: 0;
  column-gap: 9px;
  grid-template-columns: 50% 50%;
  position: absolute;
    left: 25px;
    right: 2px;
    bottom: 0;
    top: 20px;
    margin: auto;
    padding-top:5px;
    padding-bottom:10px;


}


/* CSS design of form */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.8s;
}

.overlay-content {
  position: relative;
  top: 1%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

* {
  box-sizing: border-box;

}

input[type=text], select, textarea {
  width: 70%;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: rgba(255,255,255, 0.1);
}


input[type=submit] {
  background-color: #00ffff;
  color: white;
  padding: 12px 250px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color: #008b8b;
}

.container {
  border-radius: 5px;
  z-index: 0;
  padding-left: 100px;
}

.col-25 {
  padding-left: 200px;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  padding-left: 180px;
  width: 85%;
  margin-top: 4px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 5px;
  }
}


.section-aboutus, .section-features
{
  background-color: #f1f1e8;
}

.T 
{
  padding-top: 600px;
}

.U
{
  padding-top: 50px;
}

.darken-3{
  background-color: #f1f1e8;
}

.footer-copyright
{
  background-color: rgba(0,0,0,0.15);
}

.fa
{
  color: rgb(104, 185, 23);
}

.line
{
  width: 5rem;
  border: 1px solid green;
}
