@import url('https://fonts.googleapis.com/css?family=Lato|ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato&family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

  /*main website syling stylesheet */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html
{
  width: 100%;
  height: 100%;
  font-size: 100%;
  scroll-behavior: smooth;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(135deg, #120542 0%, #000 100%);
    /**/
    margin: 0  auto;
    padding: 0 auto;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

.main
{
    background-size: cover;
    width: 100%;
    opacity: 0;
    display: none;
    transition: opacity 0.7s ease-in ;
}

.navbar-container
{
  background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("bg_image.jpg");
  background-size: cover;
}

.nav-item a
{
  font-size: 1.2rem !important;
}

.nav-item a:hover
{
  color: rgb(104, 185, 23) !important;
}

.navbar-light .navbar-brand
{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.navbar-toggler
{
  color: antiquewhite;
}

.navbar-nav{
  align-items: center;
}
.logo{
  width: 200px;
}

.hero{
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-position: center top;
  overflow-x: hidden;
}


h1
{
  color: rgb(104, 185, 23) !important;
  text-shadow: 0.2rem 0.2rem 0.2rem #092532;
  font-size: 4rem !important;
}

h3
{
  font-size: 1.5rem;
}

h1, h3, h5, h6
{
  font-family: 'Roboto Slab', serif;
}

p
{
  font-family: 'Montserrat', sans-serif;
}

.section-aboutus {
  margin-top: 150px;
}

.section-aboutus, .section-features
{
  background-color: #f1f1e8;
}


/*  ABOUT US STYLE  *********************************/
.AboutUs
{
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    font-size: 1.2rem;
    color: #092532;
}

.AboutUs:before
{
    background: linear-gradient(0deg, rgba(10, 100, 10, 0.1), rgba(10, 100, 10, 0.1)), url('../assets/pattern.jpg');
    background-attachment: fixed;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.1;
    background-position: center top;
    background-size: cover;
}


/*  FEATURES STYLE  **********************************/

.Features
{
  padding: 4rem 0rem 4rem 0rem;
}

.image
{
  width: 100%;
  border-radius: 10%;
}

.feature
{
  position: relative;
  transition: .3s;
  box-shadow: 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.8);
  border-radius: 10%;
}

.feature .text-content,
.feature:after
{
  position: absolute;
  left: 1rem;
  right: 1rem;

}

.feature:after
{
  content: '';
  display: block;
  background: #557571;
  top: 1rem;
  bottom: 1rem;
  opacity: 0;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: .3s;
  border-radius: 10%;
}

.feature:hover:after
{
  opacity: 0.96;
  transform: rotate3d(0,0,0,0deg);
}

.text-content
{
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(0%, 100%);
  transition: .3s;
  color: #fff;
}

.feature:hover .text-content
{
  opacity: 1;
  transform: translate(0%, -50%);
  transition-delay: .2s;
}

.feature-title
{
  opacity: 1;
  z-index: 1;
  color: white;
}


/*** FOOTER STYLE *********************************/
.darken-3{
  background-color: #f1f1e8;
}

.footer-copyright
{
  background-color: rgba(0,0,0,0.15);
}

.fa
{
  color: rgb(104, 185, 23);
}

.line
{
  width: 5rem;
  border: 1px solid green;
}

.hero-image {
  width: 40vw;
  margin-left: 100px;
  margin-top: 35vh;
}

.tagline-animate {
  -webkit-animation: fadeIn 7s; /* Safari 4+ */
  -moz-animation:    fadeIn 7s; /* Fx 5+ */
  -o-animation:      fadeIn 7s; /* Opera 12+ */
  animation:         fadeIn 7s; /* IE 10+, Fx 29+ */
  /* margin-top: 39vh; */
  /* margin-left: -20px; */
  /* position: relative; */
  /* margin-top: 35vh; */
  margin-left: 30vw;
}

.hero-buttons {
  margin-top: 35vh;
}

/* NEW CARDS */


.blog-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 7rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  width: 70vw;
  z-index: 0;
  height: 50vh;

}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  -webkit-transform: scale(1.3) rotate(3deg);
          transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  -webkit-transition: left .2s;
  transition: left .2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: .9rem;
}

.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  -webkit-transition: margin .3s, opacity .3s;
  transition: margin .3s, opacity .3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    max-width: 70%;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}





@media (max-width:991px) {
  .hero-image {
    width: 70vw;
    margin-top: 20vh;
  }
  .tagline-animate {
    margin-top: 15px;
    margin-left: 50vw;
  }
  .blog-card {
    height: auto;
  }
  .hero-buttons {
    position: absolute;
    margin-top: 70px;
    margin-left: 20vw;
  }
}


/* ANIMATIONS */
@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}



/* BUTTONS HOMEPAGE */
.hero-buttons {
  display: grid;
  font-family: Avenir, sans-serif;
  color: #111;

}
.cta {
  text-decoration: none;
  color: inherit;
}
.cta:hover {
  text-decoration: none;
  color: black;
}
.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgb(104, 185, 23);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: rgb(104, 185, 23);
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}
