@import url('https://fonts.googleapis.com/css?family=Lato|ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato&family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

  /*main website syling stylesheet */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html
{
  width: 100%;
  height: 100%;
  font-size: 100%;
}

body 
{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-image: linear-gradient(135deg, #120542 0%, #000 100%);
    /**/
    margin: 0  auto;
    padding: 0 auto;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

.main
{     
    background-size: cover;
    width: 100%;
    opacity: 0;
    display: none;
    transition: opacity 0.7s ease-in ;
}

.navbar-container
{
  background-image: url(bg_image.jpg);
  background-size: cover;
}

.nav-item a
{
  font-size: 1.2rem !important;
}

.nav-item a:hover 
{
  color: rgb(104, 185, 23) !important;
}
  
.navbar-light .navbar-brand 
{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.navbar-toggler
{
  color: antiquewhite;
}

.navbar-nav{
  align-items: center;
}
.logo{
  width: 200px;
}

.hero{
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-position: center top;
}


h1 
{
  color: rgb(104, 185, 23) !important;
  text-shadow: 0.2rem 0.2rem 0.2rem #092532;
  font-size: 4rem !important;
}

h3
{
  font-size: 1.5rem;
}

h1, h3, h5, h6
{
  font-family: 'Roboto Slab', serif;
}

p
{
  font-family: 'Montserrat', sans-serif;
}


.section-aboutus, .section-features
{
  background-color: #f1f1e8;
}


/*  ABOUT US STYLE  *********************************/
.AboutUs 
{
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    font-size: 1.2rem;
    color: #092532;
}

.AboutUs:before
{
    background: linear-gradient(0deg, rgba(10, 100, 10, 0.1), rgba(10, 100, 10, 0.1)), url('../assets/pattern.jpg');
    background-attachment: fixed;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.1;
    background-position: center top;
    background-size: cover;
}


/*  FEATURES STYLE  **********************************/

.Features
{
  padding: 4rem 0rem 4rem 0rem;
}

.image
{
  width: 100%;
  border-radius: 10%;
}

.feature
{
  position: relative;
  transition: .3s;
  box-shadow: 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.8);
  border-radius: 10%;
}

.feature .text-content, 
.feature:after
{
  position: absolute;
  left: 1rem;
  right: 1rem;
  
}

.feature:after
{
  content: '';
  display: block;
  background: #557571;
  top: 1rem;
  bottom: 1rem;
  opacity: 0;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: .3s;
  border-radius: 10%;
}

.feature:hover:after
{
  opacity: 0.96;
  transform: rotate3d(0,0,0,0deg);
}

.text-content
{
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(0%, 100%);
  transition: .3s;
  color: #fff;
}

.feature:hover .text-content
{
  opacity: 1;
  transform: translate(0%, -50%);
  transition-delay: .2s;
}

.feature-title
{
  opacity: 1;
  z-index: 1;
  color: white;
}


/*** FOOTER STYLE *********************************/
.darken-3{
  background-color: #f1f1e8;
}

.footer-copyright
{
  background-color: rgba(0,0,0,0.15);
}

.fa
{
  color: rgb(104, 185, 23);
}

.line
{
  width: 5rem;
  border: 1px solid green;
}