<!DOCTYPE html>
<html>
  <head>
    <title>Inspiel | Login</title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
    <!-- CSS Link -->
    <link rel="stylesheet" type="text/css" href="../css/loginOne.css" />
    <!-- Font Link -->
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Exo&amp;display=swap"
    />
  </head>
  <body>
    <h1>Welcome To Inspiel</h1>
    <form action="/customer/login" method="POST">
      <div class="form">
        <div class="tab-header">
          <div class="active" style="font-size: 25px">Sign In</div>
        </div>
        <div class="tab-content">
          <div class="tab-body active">
            <div class="form-element">
              <input
                type="text"
                placeholder="Email / Username"
                name="username"
              />
            </div>
            <div class="form-element">
              <input type="password" placeholder="Password" name="password" />
            </div>
            <!-- <div class="form-element">
              <input type="checkbox" id="remember_me" />
              <label for="remember_me">Remember me</label>
            </div> -->
            <div class="form-element">
              <button>Sign In</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <h4><%= message %></h4>

    <div class="container">
      <h1></h1>
      <h2><a href="https://webdevtrick.com/"></a></h2>
    </div>
  </body>
</html>
