<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/tstyle.css">
    <link rel="stylesheet" href="../css/styles_owner.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <title>Owner Dashboard</title>

</head>
<body>
    <!-- Bootstrap include links -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <!-- Code for main website -->
    <section class="main">    <!--Everything will be inside this-->
        <!-- NavBar -->
      <div class="container-fluid p-0 navbar-container">
          <nav class="navbar navbar-expand-lg navbar-light navbar-trans top">
              <div class="container">
                <!-- <a class="navbar-brand" href="#"><img class="logo" src="css/logo.png"></a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                              <a class="nav-link " href="/owner/dashboard">Home</a>
                            </li>

                    <li class="nav-item">
                              <a class="nav-link" href="booking form.html">View Bookings</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link nl" href="/owner/profile">Profile</a>
                            </li>
                    <li class="nav-item">
                              <a class="nav-link" href="/owner/login">Log Out</a>
                            </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="profile.html">Profile Demo</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="cards.html">Cards Demo</a>
                    </li> -->
                  </ul>
                </div>
              </div>
          </nav>
          <div class="hero">
            <div class="row">


            <h2 style="font-size: 200%;" class="tagline-animate"><b>Welcome <%= username%>!</b></h2>
      <br>

              <div class="hero-buttons">
                <a href="/offline" class="cta">
                  <span>Offline Bookings</span>
                  <svg width="13px" height="10px" viewBox="0 0 13 10">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                  </svg>
                </a>

              </div>

          </div>
          </div>
      </div>


      <!-- New Our Services Begins -->

      <div class="pattern">

      </div>


      <section style="background-image: url('../css/download.svg'); background-repeat: none; background-attachment: fixed;">
        <div class="container-fluid text-center py-3">
          <div class="About">
            <h1 style="color: rgb(104, 185, 23);">Today's Bookings</h1>
          </div>
        </div>

<br><br>
    <!-- Table starts-->
    <table>
      <thead>
        <tr>
          <th>Serial No.</th>
          <th>Name</th>
          <th>Slot Booked</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-column="Serial No.">1.</td>
          <td data-column="Name">James Matman</td>
          <td data-column="Slot Booked">10am - 11am</td>

        </tr>
        <tr>
          <td data-column="Serial No.">2.</td>
          <td data-column="Name">James Matman</td>
          <td data-column="Slot Booked">10am - 11am</td>


        </tr>
        <tr>
          <td data-column="Serial No.">3.</td>
          <td data-column="Name">James Matman</td>
          <td data-column="Slot Booked">10am - 11am</td>


        </tr>
        <tr>
          <td data-column="Serial No.">4.</td>
          <td data-column="Name">James Matman</td>
          <td data-column="Slot Booked">10am - 11am</td>


        </tr>
        <tr>
          <td data-column="Serial No.">5.</td>
          <td data-column="Name">James Matman</td>
          <td data-column="Slot Booked">10am - 11am</td>


        </tr>
        <tr>
          <td data-column="Serial No.">3.</td>
          <td data-column="Name">James Matman</td>
          <td data-column="Slot Booked">10am - 11am</td>


        </tr>
        <tr>
          <td data-column="Serial No.">4.</td>
          <td data-column="Name">James Matman</td>
          <td data-column="Slot Booked">10am - 11am</td>


        </tr>
        <tr>
          <td data-column="Serial No.">5.</td>
          <td data-column="Name">James Matman</td>
          <td data-column="Slot Booked">10am - 11am</td>


        </tr>
        <tr>
          <td data-column="Serial No.">3.</td>
          <td data-column="Name">James Matman</td>
          <td data-column="Slot Booked">10am - 11am</td>


        </tr>
        <tr>
          <td data-column="Serial No.">4.</td>
          <td data-column="Name">James Matman</td>
          <td data-column="Slot Booked">10am - 11am</td>


        </tr>
        <tr>
          <td data-column="Serial No.">5.</td>
          <td data-column="Name">James Matman</td>
          <td data-column="Slot Booked">10am - 11am</td>


        </tr>
      </tbody>
    </table>
     <!-- Table ends-->
   <br><br><br> </section>

   <div class="section-second" ><br><br><br><br>


    <div class="card">

      <div class="cr">
        <div class="c">
          <div id="container" style="height: 400px; width: 500px"></div>
        </div>
      </div>
  </div><br><br><br><br>
</div>

       <div class="footer-copyright text-center py-2">© 2020 Copyright
        <a href="#" style="text-decoration: none; color: inherit">Inspiel</a>
      </div>

      <script  src="../js/graph.js"></script>

</body>
</html>
